h1, p {
  font-family: Lato;
}

.start{
  margin: auto;
  width: 95%;
  max-width: 900px;
  padding: 50px 10px;
  min-height: 200px;
  text-align: center;
  margin-top: 1em;
  background: rgb(194, 192, 192);
  border-radius: 2%;
}


.stickyHeader{
  width: 100%;
  text-align: center;
}
.stickyFooter{
  margin-top: 1%;
  width: 100%;
  text-align: center;
}

.carrot{
  background: rgb(237, 145, 33);
}

.description{
  margin: auto;
  max-width: 50%;
  padding: 50px 10px;
  text-align: center;
  margin-top: 1px;
  padding: 10px;
}

