h1, p {
  font-family: Lato;
}

.start{
  margin: 10em auto;
  max-width: 500px;
  padding: 50px 10px;
  min-height: 200px;
  text-align: center;
}

.stickyHeader{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.carrot{
  background: rgb(237, 145, 33);
}
