.shareButtons{
    margin-top: 1em;
}

#share {
  	text-align: center;
}

/* buttons */

#share a,button {
	width: 50px;
  	height: 50px;
  	display: inline-block;
  	margin: 8px;
  	border-radius: 50%;
  	font-size: 24px;
  	color: #fff;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

#share a:hover,button:hover {
	opacity: 1;
}

/* icons */

#share a i {
  	position: relative;
  	top: 50%;
  	transform: translateY(-75%);
}

/* colors */

.facebook {
 	background: #3b5998;
}

.whatsapp {
    background: #25D366;
}

.facebook-messenger{
    background: rgb(84, 181, 247);
}

.copy {
	position: relative;
	top: 7px;
	background: rgb(248, 93, 93);
	border: 1px solid rgb(248, 93, 93);
	text-decoration: none;
	display: inline-block;
}

.twitter {
  	background: #55acee;
}

.googleplus {
  	background: #dd4b39;
}

.linkedin {
  	background: #0077b5;
}

.pinterest {
  	background: #cb2027;
}
