.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -1;
  }

  .colors {
    position: absolute;
    display: block;
    top: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
  }

